body
{
    background-color: rgb(236, 218, 199);

}
.register-form
{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.register-form div.header
{
    max-width: 500px;
    width: 90%;
    font-size: 2rem;
    font-weight: 800;
    font-family: serif;
}
.register-form form
{
    display: flex;
    flex-direction: column;
    max-width: 500px;
    width: 90%;
}

input
{
    font-size: 1.2rem;
    margin-bottom: .4rem;
    padding-left: 1rem;
    padding: .5rem 0rem .5rem 1rem;    
    font-weight: 600;
    border: 1px solid hsl(0, 2%, 78%);
    border-radius: .5rem;
    outline-color: hsl(205, 67%, 79%);
    outline-width: 1px;
}
.login-text
{
    font-weight: 500;
    font-size: 1.2rem;
    font-style: italic;
    text-align: center;
    margin-bottom: .2rem;   
}
.btn-primary.login
{
    background-color: hsl(212, 76%, 43%);
}